extends layout.jade

block styles
  link(type="text/css", rel="stylesheet", href="/vc-admin/gene/dist/css/class.css")

block main
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel.tile(style="overflow:visible")
        .x_title
          h2.fa.fa-graduation-cap(style="font-size: 30px; margin-right: 16px;")
          h2 Presentations
          .clearfix
        .x_content
          .widget_summary
            span This page deals with all things related to Presentations.

      #main
  br

block scripts
  script(src='/vc-admin/gene/dist/class-bundle.js' type='text/javascript')
