.row
  .col-md-12
    .dropdown
      button#b-org.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Organizations
        span.caret
      ul.dropdown-menu(aria-labelledby="b-org")
        li
          a(href="javascript:void(0)") 3Apples
        li
          a(href="javascript:void(0)") JIST
        li
          a(href="javascript:void(0)") NIIT
        li
          a(href="javascript:void(0)") AT&T
