.navbar.nav_title(style='border: 0;')
  a.site_title(href='/vc-admin/dash/')
    span At it.
    span(style="font-size:12px; font-style:italic; position:relative; left:7px;") Quietly.
.clearfix
// menu profile quick info 
.profile.clearfix
  .profile_pic
    img.img-circle.profile_img(src='/vc-admin/gene/production/images/donkey.jpg', alt='...')
  .profile_info
    span Hello,
    h2 #{user.name}
// /menu profile quick info 
br

